.navBar_container {
	scale: 0.9;

	background-color: rgba(21, 19, 42, 0.4);
	backdrop-filter: blur(2px);
	border-radius: 15px;

	position: fixed;
	top: 100px;
	right: 40px;

	width: fit-content;
	z-index: 999999999;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
	padding: 10px 15px;
}

.navBar_container span {
	color: var(--gold-color);
	font-weight: 500;
}
.navBar_container a {
	font-size: 1.3rem;
	overflow: hidden;
	position: relative;
}
/* Nav bar underline animation */
.navBar_container a::after {
	content: "";
	transform: translate3d(-110%, 0, 0);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 80%;
	height: 3px;
	background-color: var(--gold-color);
	opacity: 1;
	transition: opacity 300ms, transform 300ms;
}
.navBar_container a:hover::after,
.navBar_container a:focus::after {
	transform: translate3d(0, 0, 0);
}

.contact_navbar {
	position: relative;
	overflow: hidden;

	margin-left: 10px;
	border: 2px solid var(--gold-color);
	border-radius: 8px;
	padding: 5px 15px;
	color: var(--gold-color);
	font-weight: 500;
	letter-spacing: 1px;
}
.contact_navbar::after {
	/* This disables the underline from being shown */
	/* It also works because the shine effect uses the ::before class */
	display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.navBar_container {
		display: none;
	}
}
/* Small devices */
@media only screen and (min-width: 601px) and (max-width: 768px) {
	.navBar_container {
		display: none;
	}
}

/* Medium devices */
@media only screen and (min-width: 769px) and (max-width: 992px) {
	.navBar_container {
		display: none;
	}
}
