.navBar_container {
	position: fixed;
	top: 3rem;
	right: 4rem;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.navBar_container a {
	font-size: 1.3rem;
}
.navBar_container span {
	color: var(--gold-color);
	font-weight: 500;
}

.contact_navbar {
	position: relative;
	overflow: hidden;

	margin-left: 10px;
	border: 2px solid var(--gold-color);
	border-radius: 8px;
	padding: 5px 15px;
	color: var(--gold-color);
	font-weight: 500;
	letter-spacing: 1px;

	transition: all 0.2s ease-in-out;
}
